<ion-content>
    
<div class="jojo">
  <h1 class="vtitle">Publicar un Viaje Nuevo</h1>
  <ion-item>
      <ion-label position="floating">Nombre conductor</ion-label>
      <ion-input type="text" [(ngModel)]="nombreConductor"></ion-input>
  </ion-item>

  <ion-title size="large" style="font-size: 16px;" class="title oeoe-title"></ion-title>
  
  <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input class="iinput" type="text" [(ngModel)]="textoViaje"></ion-input>
  </ion-item>


    <ion-item>
      <ion-label position="floating" >Nombre:</ion-label>
      <ion-input type="text" [(ngModel)]="nombre" id="nombre"></ion-input>
    </ion-item>
    <p id="p"></p>
  
    <ion-item>
      <ion-label position="stacked" >Sector:</ion-label>
      <ion-input [(ngModel)]="sector" name="sector" id="sector" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked" >Patente:</ion-label>
      <ion-input [(ngModel)]="patente" id="patente"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked" >Precio:</ion-label>
      <ion-input type="number" [(ngModel)]="precio" id="precio"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked" >Descripcion:</ion-label>
      <ion-input [(ngModel)]="descripcion" id="descripcion"></ion-input>
    </ion-item>

    <ion-button shape="block" (click)="prueba()">Publicar Viaje</ion-button>


  

  <!-- nombre: string;
    precio: number;
    patente: string;
    sector: string;
    descripcion: string; -->
  <!-- <ion-item>
    <ion-buttons slot="end">

      <ion-label>Guardar </ion-label>
      <ion-button click="save()" >
        <ion-icon slot="icon-only" name="save-sharp"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-item> -->


</div>

<!-- <div class="wrap-input">
  <input id="oeoe" class="input" type="text" formControlName="name" name="user-name" placeholder="Nombre de conductor" spellcheck="false">
</div>

<div class="wrap-input">
  <input id="oeoe" class="input" type="text" formControlName="desc" name="desc" placeholder="Descripción" spellcheck="false">
</div> -->

</ion-content>
