<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>

        </ion-title>
    </ion-toolbar>

    <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />

</ion-header>

<ion-content [fullscreen]="true">
    <div class="jojo2">
        <div size="large" style="font-size: 16px;" class="title oeoe-title"></div>
        <div class="avatar">
            <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
        </div>
        <h1 class="vtitle">Viajes disponibles</h1>
      <!-- <ion-button style="font-weight: 600;" shape="block" (click)="mostrarViajeCapturado()">Ver viaje capturado</ion-button> -->

    <!-- <ion-button color="success" style="font-weight: 600;" shape="block" (click)="verificar()">verificar</ion-button> -->

    <div class="viaje-card" *ngFor="let viaje of viajes">
      <h5 class="card-item titulo-viaje">Conductor: {{viaje.nombre}}</h5>
      <div class="card-avatar">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </div>
      <div class="card-item">Sector: {{viaje.sector}}</div>
      <div class="card-item">Descripción: {{viaje.descripcion}}</div>
      <div class="card-item">Patente: {{viaje.patente}}</div>
      <div class="card-item">Id: {{viaje.id}}</div>
      <div class="precio-label card-item">Precio: </div>
      <div class="precio-div">
        <div class="precio-item">$</div>
        <div class="card-item card-precio">{{viaje.precio}}</div>
        <div class="precio-item">CLP</div>
      </div>
      <ion-button style="font-weight: 600;" shape="block">Tomar Viaje</ion-button>
      <div class="opc">
        <ion-button color="success" style="font-weight: 600;" shape="block" (click)="edit(viaje); viajeCapturado = viaje;">Editar</ion-button>
        <ion-button color="danger" style="font-weight: 600; " shape="block" (click)="deleteItem(viaje)">Eliminar</ion-button>
      </div>
    </div>
  </div>

    <ion-button (click)="ningunLugar()" expand="block">Ningún lugar</ion-button>
        <!-- <ion-button color="success" style="font-weight: 600;" shape="block" (click)="verificar()">verificar</ion-button> -->

    <div class="ion-padding">
        <div class="viaje-card">

            <h5 class="card-item titulo-viaje">Coordenadas de Localizaci&oacute;n</h5>
            <ion-item>
                <ion-label>
                    Latitud
                </ion-label>
                <ion-badge name="lat" color="primary" slot="end">{{latitude}}</ion-badge>
            </ion-item>
            <ion-item>
                <ion-label>
                    Longitud
                </ion-label>
                <ion-badge name="lon" color="primary" slot="end">{{longitude}}</ion-badge>
            </ion-item>
            <ion-button (click)="obtenerCoordenadasActuales()" expand="block">Obtener Localizaci&oacute;n</ion-button>
        </div>
    </div>
    <div style="padding-top: 50px; padding-right: 10px; height: 100vw; width: 100vw;" #mapDiv class="map-container"></div>
</ion-content>