<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejemplo con SQLite
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="jojo">
    <h1 class="vtitle">Viajes disponibles</h1>

    <ion-item *ngFor="let v of viajes">
      <ion-label>
        <h2>{{ v.conductor }}</h2>
        <p>{{v.texto}}</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-item>
    <ion-label>
      <h2>Prueba Titulo</h2>
      <p>Prueba Texto</p>
    </ion-label>
  </ion-item>
    <!-- <ion-searchbar (ionInput)="getItem($event)"></ion-searchbar> -->
    <!-- <ion-list>
      <ion-item-sliding *ngFor="let v of viajes">
        <ion-item>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/icon/favicon.png">
            </ion-avatar>
            <ion-label class="data">
              <h2 class="data">{{v.conductor}}</h2>
              <p class="data" style="word-wrap: break-word; white-space: normal;">{{v.texto}}</p>
            </ion-label>
          </ion-item>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="editar(v)">
            <ion-icon name="create" ></ion-icon> Editar
          </ion-item-option>
          <ion-item-option color="danger" (click)="eliminar(v)">
            <ion-icon name="trash"></ion-icon> Eliminar
          </ion-item-option>
        </ion-item-options>      
      </ion-item-sliding>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink]="['/agregar']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    </div> -->
</ion-content>