 <ion-header>
    <div>
        <img src="assets/img/duocuclogo.jpg"> </div>
    <ion-toolbar>
        <ion-title  class="ion-text-center">
            <h1 class="title">TeLlevoApp</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header>
            <ion-title size="large" class="title">¡Bienvenid@, {{user.usuario}}!</ion-title>
    </ion-header>
    <div>
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-button expand="block">Puedo movilizar a otros</ion-button>
                </ion-col>
            </ion-row>
                <p class="title">O</p>
            <ion-row>
                <ion-col size="12">
                    <ion-button expand="block">Necesito Movilización</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>